extends layout

block content
	script(src="/javascripts/logs.js")

	.container-fluid.content
		h1 Logs
		a(href='logs/investments') Investments
		.row
			.col-sm-6
				table.table-striped.table-hover.table-bordered.logTable#usefulPurchases
					colgroup
						col(width='33%')
						col(width='33%')
						col(width='33%')
					tr.no-hover
						th Date
						th Purchase
						th Price
			.col-sm-6
				table.table-striped.table-hover.table-bordered.logTable#extraPurchases
					colgroup
						col(width='33%')
						col(width='33%')
						col(width='33%')
					tr.no-hover
						th Date
						th Purchase
						th Price
			//- .col-sm-4
			//- 	table.table-striped.table-hover.table-bordered.logTable#investmentPurchases
			//- 		colgroup
			//- 			col(width='20%')
			//- 			col(width='40%')
			//- 			col(width='40%')
			//- 		tr.no-hover
			//- 			th Decision
			//- 			th Purchase
			//- 			th Price

	script(type='text/javascript').
		purchases = !{purchases}
		parsed = parsePurchases(purchases)
		console.log(parsed)
		addToTable('usefulPurchases', parsed.useful)
		addToTable('extraPurchases', parsed.extra)
		//- addToTable('investmentPurchases', parsed.investment, true)

		//- for (var i=0; i<purchases.length; i++) {
		//- 	$('#usefulPurchases').append(formatPurchaseRow(purchases[i]));
		//- }